 *{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(13, 52, 72, 0.798);
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(130deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 10px 10px 20px #27262667;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather, .temp h1{
    font-size: 25px;
    font-weight: 500;
}
 
.weather h2{
    font-size: 45px;
    font-weight: 400;
     
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px ;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: none;
    color: red;
}


@media  (max-width:600px){
    body{
        background-color: rgba(13, 52, 72, 0.798);
    }
    .card{
        width: 85%;
        max-width: 470px;
         
        box-shadow: 10px 10px 20px #27262667;
    }
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     input::placeholder{
        font-size: 11px;
    }
    .search input{
        width: 100%;
    }
    .search button{
        width: 55px;
        height: 55px; 
    }
    .search button img{
        width: 16px;
    }
    .weather-icon{
        width: 140px;
        margin-top: 0px;     
    }
    .weather, .temp h1{
        font-size: 20px;
        font-weight: 500;
    }
    .weather h2{
        font-size: 40px;
        font-weight: 400;
    }
    .details{
        margin-top: 33px;
    }
    .col{
        width: 100%;
        margin:0 11px;
    }
    .col p{
        font-size: 11px;
    }
    .col img{
        width: 30px;   
    }
    .humidity , .wind{
        font-size: 16px;
        margin-top: -6px;
    }
    .error{
        font-size: 15px;
    }
}
    
